.course_container {
  @include flex-center;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 10rem;
  background-color:var( --tertiary-color) ;

}

.course_header {
  display: flex;
  align-items: center;
  justify-content: center;
  
  h1 {
    color: var(--heading-color);
    font-size: 2rem !important;
    padding: 4rem 1rem 4rem 1rem;
    text-align: center;
    
    span {
      font-size: 2rem !important;
      color: #F2A227;
    }
  }

}

.course_card_wrapper {
  width: 80%;
  @include flex-center;
  gap: 2rem;
  flex-wrap: wrap;
}
