.container{
    width: 100%;
    height: auto;
    .header{
        h1{
            font-size: 2rem;
            color:var(--primary-color);
        }
    }
    .carousel{
        width: 100%;
    }
    .card_container{
        margin: 2rem;
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
    }

}

@media screen and (max-width:850px) {
    .card{
        width: 18rem;
        min-height: 10rem;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 1rem;
        border: 1px solid var(--primary-color);
        border-radius: 10px ;
    }
  }
  